
// 字号设置
.fz14 {
	font-size: 14px;
}
.fz16 {
	font-size: 16px;
}
.fz12 {
	font-size: 12px;
}
.fz10 {
	font-size: 10px;
}
.fz8 {
	font-size: 8px;
}
.fz18 {
	font-size: 18px;
}

// 字体颜色
.c-333 {
	color: #333333;
}
.c-666 {
	color: #666;
}
.c-999 {
	color: #999999;
}

//边框
.border-b {
	border-bottom: 1px solid #dedede;
}

// 定位
.pr {
	position: relative;
}
.pa {
	position: absolute;
}